<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" width="200px" height="200px" src="https://programadormovel1.websiteseguro.com/images/anime_programador_movel.jpeg">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Adriano Domingues</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Adriano Domingues<i class="material-icons right">close</i></span>

      <p><h4>
        Bio
	</h4>
      </p>
	<p>
		Professor Especialista de Informática / Programador Android Java </br>
		Santista, Roqueiro e Jogador de PES </br>
		Youtube: Programador Móvel </br>
		Twitter: @domtec  </br>
		E-mail: programadormovel@gmail.com
	</p>

      <p class="center">
        <!-- Sample Button -->
        <a href="#" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>Button</a>
        <br><br>
        Colors from:<br>
        <a class="orange-text text-darken-2" href="http://materializecss.com/color.html">http://materializecss.com/color.html</a><br><br>
        Icons from:<br>
        <a class="orange-text text-darken-2" href="http://fortawesome.github.io/Font-Awesome/icons/">http://fortawesome.github.io/Font-Awesome/icons/</a><br>
        <i class="fa fa-music" style="font-size:50pt"></i>
      </p>

    </div>
  </div>
