<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="https://avatars2.githubusercontent.com/u/22382744?s=460&u=0a86e59ab9f329fb01d914000cca899938edbe04&v=4">
  </div>
  <div class="card-content activator" style="cursor:pointer">
    <span class="card-title grey-text text-darken-4 fa fa-github">Afonso Carvalho</span>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Afonso Carvalho<i class="material-icons right">close</i></span>
    <p>
      Aluno do Curso de Git
    </p>
    <p class="center">
      <a href="https://github.com/afonsohsc" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github" aria-hidden="true"></i> GitHub Profile</a>
      <br><br>
      <a href="https://www.linkedin.com/in/afonso-henrique-da-silva-carvalho-96b760108" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
      <br><br>
      <i class="fa fa-windows" style="font-size:100pt"></i>
    </p>

  </div>
</div>
