<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars2.githubusercontent.com/u/16319889?s=460&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Diego Aguiar</span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Diego Aguiar<i class="material-icons right">close</i></span>
      <p>
        Oficial Militar Analista de Sistema da Força Aérea Brasileira / Desenvolvedor Java / Bacharel em Ciência da Computação / Especializado em Governança de TI
      </p>
      <p class="center">
        <a href="https://github.com/aguiardafa" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
        <a href="https://www.linkedin.com/in/diego-aguiar-4206a9132/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square left" aria-hidden="true"></i>Linkedin Profile</a>
        <br><br>
      </p>
    </div>
  </div>
