<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://www.google.com/imgres?imgurl=http%3A%2F%2Fstatic.palmeiras.com.br%2Fcontent%2Fpublic%2Fupload%2Fimagem%2Ftimes%2Fimagem_20_original.png&imgrefurl=http%3A%2F%2Fpalmeiras.com.br%2Fnews%2F2019%2F11%2F01%2Fpalmeiras-x-ceara--informacoes--curiosidades-e-historico-do-confronto.shtml&tbnid=kCzui7ycQUiCcM&vet=12ahUKEwigqvyG99PlAhV0ALkGHWSTCB4QMygDegUIARDBAg..i&docid=FSWOa-n7bBUfoM&w=320&h=320&q=Palmeiras&ved=2ahUKEwigqvyG99PlAhV0ALkGHWSTCB4QMygDegUIARDBAg">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">User Name</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Alan Silva<i class="material-icons right">close</i></span>

      <p>
        Aluno do Curso de Git...Vai Palmeiras!
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="#" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>Button</a>
        <br><br>
        Colors from:<br>
        <a class="orange-text text-darken-2" href="http://materializecss.com/color.html">http://materializecss.com/color.html</a><br><br>
        Icons from:<br>
        <a class="orange-text text-darken-2" href="http://fortawesome.github.io/Font-Awesome/icons/">http://fortawesome.github.io/Font-Awesome/icons/</a><br>
        <i class="fa fa-music" style="font-size:50pt"></i>
      </p>

    </div>
  </div>