<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars.githubusercontent.com/u/8989215?s=400&u=fbc80019913b08d552aac2c1a0fb6fd849dcc286&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Alisson Rangel<i class="fa fa-git right"></i></span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Alisson Rangel<i class="material-icons right">close</i></span>

      <p>
        Engenheiro de Computação
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/alissonrangel" class="blue darken-4 waves-effect waves-light btn"><i class="fa fa-github right"></i>Git Hub Profile</a>
        <br><br>
        
        <a class="blue-text text-darken-2" href="https://www.linkedin.com/in/alisson-rangel-850154b8/">Linkedin Profile</a><br><br>
        
      </p>

    </div>
  </div>