<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars2.githubusercontent.com/u/55415754?s=400&u=57b9a20a92514cea7cf3d50a6b76eca1586a4d26&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title red-text text-darken-4">Allan Belem</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Allan Belem<i class="material-icons right">close</i></span>

      <p>
        Aluno do Curso Git e Github do Professor Bruno Orlandi =)
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/headBodyLife" class="blue lighten-2 waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
        <i class="fa fa-linux" style="font-size:100pt"></i>
      </p>

    </div>
  </div>