<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="https://avatars.githubusercontent.com/u/19254136?v=4">
  </div>
  <div class="card-content activator" style="cursor:pointer">
    <span class="card-title grey-text text-darken-4">Allan de Franca <i class="fa fa-camera right"></i></span>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Allan de franca<i class="material-icons right">close</i></span>
    <p>
      I'm a photographer and an enthusiastic IT
    </p>
    <p class="center">
      <a href="https://github.com/allandefranca" class="btn" style="background-color: #333333;"><i class="fa fa-github left"></i>GitHub Profile</a>
      <br><br>
      <a target="_blank" href="https://www.linkedin.com/in/allandefranca/" class="btn btn-primary" style="background-color: #0082ca;" role="button"><i class="fa fa-linkedin-square"></i></a>
      <a target="_blank" href="https://Instagram.com/allandefranca" class="btn btn-primary" style="background-color: #ac2bac;" role="button"><i class="fa fa-instagram"></i></a>
      <a target="_blank" href="https://allandefranca.com" class="btn btn-primary" style="background-color: #F89100;" role="button"><i class="fa fa-globe"></i></a>
    </p>
  </div>
</div>
  