<link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@669&display=swap" rel="stylesheet">

<style type="text/css">
  #fonte {
    font-family: "Dancing Script";

  }
  #fonte1 {
    font-family: 'Orbitron', sans-serif;
  }
  #imgPython {
    position:relative;
    top: 40px
  }
</style>

<div class="card hoverable">

    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars2.githubusercontent.com/u/55415754?s=400&u=57b9a20a92514cea7cf3d50a6b76eca1586a4d26&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span id=fonte class="card-title red-text text-darken-4">Allan Belem <sub> <img class="right" id="imgPython" width="15%" src="https://cdn.iconscout.com/icon/free/png-256/python-12-555278.png"></sub> </span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span id="fonte" class="card-title grey-text text-darken-4">Allan Belem<i class="material-icons right">close</i></span>

      <p id="fonte1">
        Aluno do Curso Git e Github do Professor Bruno Orlandi =)
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/headBodyLife" class="blue lighten-2 waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
        <img width="100%" src="https://cdn.iconscout.com/icon/free/png-256/python-12-555278.png">
      </p>

    </div>
  </div>