<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars0.githubusercontent.com/u/40005774?s=400&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Álvaro Sousa</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Álvaro Sousa<i class="material-icons right">close</i></span>

      <p>
        Estudante de Ciência da Computação e aluno do curso de Git
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/alvaro-ian" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-github"></i> GITHUB</a>
        <br><br>
        <i class="fa fa-cogs" style="font-size:50pt"></i>
      </p>

    </div>
  </div>