<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars.githubusercontent.com/u/77344863?v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Ana Carolina</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">acpoliveira24<i class="material-icons right">close</i></span>

      <p>
        Software Enginer
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/acpoliveira24" class="light-blue darken-4 waves-effect waves-light btn"><i class="fa fa-github left"></i>Github</a>
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://www.linkedin.com/in/anacarolinapdeoliveira/" class="light-blue darken-4 waves-effect waves-light btn"><i class="fa fa-linkedin left"></i>Linkedin</a>
      </p>

    </div>
  </div>