<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
        <!-- Card Image -->
        <img class="activator" src="https://avatars0.githubusercontent.com/u/48885210?s=300&u=5b39afe2f6e5c704ef722dae12994ddf04500701&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
        <!-- Card Title -->
        <span class="card-title grey-text text-darken-4">Anderson Antunes</span>

    </div>
    <div class="card-reveal">
        <!-- Card Reveal Content -->
        <span class="card-title grey-text text-darken-4">Anderson Antunes<i class="material-icons right">close</i></span>

        <p>
            Estudante de Sistemas para Informação e aluno Git
        </p>

        <p class="center">
            <!-- Sample Button -->
            <a href="https://github.com/andyantunes" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>GitHub Profile</a>
            <br><br>
            <a href="https://www.linkedin.com/in/anderson-antunes-a612b954/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
            <br><br>
            <i class="fa fa-music" style="font-size:50pt"></i>
        </p>
    </div>
</div>
