<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars1.githubusercontent.com/u/5253559?s=460">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Anderson Weller <i class="fa fa-firefox right" style="color:#DE5825"></i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Anderson Weller<i class="material-icons right">close</i></span>
      <p>
      Aluno de Git e Professor do IFES.
      </p>
      <p class="center">
        <a href="https://github.com/acweller" class="dark-gray lighten-3 waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub</a>
        <br><br>
        <i class="fa fa-firefox" style="color:#DE5825;font-size:70pt"></i>
      </p>
    </div>
</div>
