<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars3.githubusercontent.com/u/20650823?s=400&u=69790d7fc79a94365eaa5dc6278244d3c8398a71&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Anderson J. S. Inácio <i class="fa fa-code-fork" aria-hidden="true"></i>
</span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Anderson J. S. Inácio <i class="material-icons right">close</i></span>
      <p>
      Aluno do Curso de Git
      </p>
      <p class="center">
        <a href="https://github.com/nosrednawall" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
        <a href="https://www.linkedin.com/in/anderson-josé-de-souza-inácio-883637143/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
        <br><br>
        <i class="fa fa-linux" style="font-size:100pt"></i>
      </p>
    </div>
  </div>
