<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars.githubusercontent.com/u/80536789?v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">André Luis Finger Candido</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">André Luis Finger Candido<i class="material-icons right">close</i></span>

      <p>
        Gerente de desenvolvimento
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/andreluisfc/" class="blue darken-4 waves-effect waves-light btn">GITHUB</a>
        <br><br>
        
      </p>

    </div>
  </div>