<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://media.licdn.com/dms/image/C4E03AQErxXcxXu5ZIA/profile-displayphoto-shrink_800_800/0?e=1576713600&v=beta&t=xqJuKuX7_wimDVGj-__xObzjwVWMxAa0VxyLkd05W0c">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Andres Payema</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Andres Payema<i class="material-icons right">close</i></span>

      <p>
        Junior Php developer e aluno do curso de git
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/a2pr" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-github"></i></a>
        <a href="www.linkedin.com/in/andrespayema" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square"></i></a> 
      </p>

    </div>
  </div>