<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <!-- Card Image -->
    <img class="activator" src="https://avatars2.githubusercontent.com/u/23465537?s=400&u=e06ea84ecea1bdd9a2f09f9ecb0bf1de318b7fe3&v=4">
  </div>
  <div class="card-content activator" style="cursor:pointer">
    <!-- Card Title -->
    <span class="card-title grey-text text-darken-4"><i class="fa fa-coffee" aria-hidden="true"></i>   Anna Laura   <i class="fa fa-rocket" aria-hidden="true" ></i></span>
  </div>
  <div class="card-reveal">
    <!-- Card Reveal Content -->
    <span class="card-title grey-text text-darken-4">Anna Laura<i class="material-icons right">close</i></span>
    <p>
      Software Engineer
    </p>

    <p class="center">
      <!-- Sample Button -->
      <a href="https://github.com/annalaurai" class="indigo darken-3 waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
      <br><br>
      
    </p>
  </div>
</div>