<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <!-- Card Image -->
    <img class="activator" src="https://avatars2.githubusercontent.com/u/2374324?s=460&v=4">
  </div>
  <div class="card-content activator" style="cursor:pointer">
    <!-- Card Title -->
    <span class="card-title grey-text text-darken-4">Antoni Carlos</span>
  </div>
  <div class="card-reveal">
    <!-- Card Reveal Content -->
    <span class="card-title grey-text text-darken-4">Antoni Carlos<i class="material-icons right">close</i></span>

    <p>
      Aluno do Curso de Git
    </p>

    <p class="center">
      <!-- Sample Button -->
      <a class="black-text text-darken-2" href="https://github.com/antonicarlos"><class="white lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt"></i> GitHub Profile</a><br><br>
      <a class="blue-text text-darken-2" href="https://www.linkedin.com/in/antoni-carlos-de-souza-b1b96831/"><class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
    </p>

  </div>
</div>