<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars1.githubusercontent.com/u/18357354?s=400&u=506e06e5ec5153e25e22404737bf93658f7b9431&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Antoni Sganzerla <i class="fa fa-github right"></i></span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Antoni Sganzerla<i class="material-icons right">close</i></span>

      <p>
        Aluno do Curso de Git
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/antonisganzerla" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
        <a href="https://www.linkedin.com/in/antoni-sganzerla-97b219b5/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
        <br><br>
        <i class="fa fa-coffee" style="font-size:100pt"></i>
      </p>

    </div>
  </div>