<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/56622614_637299863349138_3186947632561963178_n.jpg?_nc_ht=scontent.cdninstagram.com&_nc_cat=106&_nc_ohc=XSYinn-teZkAX_eBcoh&oh=fb1cb6eb01fd9b333221a0a16962021c&oe=5F26D78D">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Artur Freire</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Artur Freire<i class="material-icons right">close</i></span>

      <p>
        Fullstack Developer
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/freirart" target="_blank" class="grey darken-4 waves-effect waves-light btn"><i class="fa fa-github-alt"></i></a>
        <a href="https://www.linkedin.com/in/freirart" target="_blank" class="waves-effect waves-light btn" style="background-color:#15aabf;margin-top: 10pt"><i class="fa fa-linkedin"></i></a>
      </p>

    </div>
  </div>