<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars.githubusercontent.com/u/18388501?v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Augusto Lange <i class="fa fa-code-fork" aria-hidden="true"></i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Augusto Lange<i class="material-icons right">close</i></span>

      <p>
        Aluno do curso de Git.
        <br>
        Engenheiro de Computação.
        <br>
        A.K.A. Glix The Cowboy.
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/aslange" class="black darken-4 white-text waves-effect waves-light btn"><i class="fa fa-github left" aria-hidden="true"></i>My GitHub</a>
        <br>
        <br>
        <a href="https://www.linkedin.com/in/augustolange/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square left" aria-hidden="true"></i>My LinkedIn</a>
        <br>
        <br>
        <i class="fa fa-sun-o fa-spin" style="font-size:50pt"></i>
        <i class="fa fa-moon-o fa-spin" style="font-size:50pt"></i>
      </p>

    </div>
  </div>