<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars1.githubusercontent.com/u/50053924?s=460&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Benedito Marques</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Benedito Marques<i class="material-icons right">close</i></span>

      <p>
        Sysadmin em Fortics Tecnologia
      </p>

      <p class="center">
        <!-- Sample Button -->
        <br>
        Email:<br>
        <a class="orange-text text-darken-2" href="">benedito.marques1@gmail.com</a><br><br>
        </p>

    </div>
  </div>