<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars.githubusercontent.com/bomrafinha">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Rafael Rossa
        <i class="right">
          <!-- Imagem vinda de meu próprio site -->
          <img src="https://ridgedynamics.com.br/downloads/Delphi.png" width="25px" height="25px"></img>
        </i>
      </span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Rafael Rossa<i class="material-icons right">close</i></span>

      <p>
        Desenvolvedor Delphi.
      </p>

      <p class="center">
        <a href="https://github.com/Bomrafinha" target="blank" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
        <!-- Imagem vinda de meu próprio site -->
        <img src="https://ridgedynamics.com.br/downloads/Delphi.png" width="100px" height="100px"></img>
      </p>

    </div>
  </div>