<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars0.githubusercontent.com/u/19173171?s=400&u=ddef15358dd388c95fa343aa8894ac496c5b59a6&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Bruno Bigotto <i class="fa fa-github right"></i></span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Bruno Bigotto<i class="material-icons right">close</i></span>

      <p>
        Computer Engineer
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/bigotto" class="grey lighten-2 black-text waves-effect waves-light btn"><i
            class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
        <a href="https://www.linkedin.com/in/brunobigotto/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
        <br><br>
        
      </p>

    </div>
  </div>