<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars0.githubusercontent.com/u/8616299?s=300">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Bruno Verussa <i class="fa fa-github right"></i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Bruno Verussa<i class="material-icons right">close</i></span>
      <p>
        Software Developer
      </p>
      <p class="center">
        <a href="https://github.com/bverussa" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt"></i> GitHub Profile</a>
        <br><br>
        <a href="http://linkedin.com/in/bverussa/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
        <br><br>
        <i class="fa fa-code" style="font-size:50pt"></i>
      </p>
    </div>
  </div>