<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars0.githubusercontent.com/u/542722?v=4&s=460">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Caio Calderari</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Caio Calderari<i class="material-icons right">close</i></span>

      <p>
        Designer
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/caiocall" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
      </p>

    </div>
  </div>