<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars3.githubusercontent.com/u/40035140?s=400&u=ead80f1f7106786c113e2d7f79f92ab19aaa7c81&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Valéria Campaner<i class="fa fa-git right"></i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Valéria Campaner<i class="material-icons right">close</i></span>
      <p>
      Aluna do Curso de Git e Tecnóloga em Sistemas para Internet
      </p>
      <p class="center">
        <a href="https://github.com/campanerval" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
        <a href="https://www.facebook.com/valeriacampanersiqueira" class="light-blue darken-4 white-text waves-effect waves-light btn"> <i class="fab fa-facebook-f" aria-hidden="true"></i> Facebook Profile</a>        
        <br><br>
        <i class="fab fa-php" style="font-size:100pt"></i> 
      </p>
    </div>
  </div>
