<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <!-- Card image -->
    <img class="activator"
      src="https://avatars1.githubusercontent.com/u/49238925?s=460&u=98e400b8fb4a24e5c245aca1a8abcdf962fea3e7&v=4" />
  </div>
  <div class="card-content activator" style="cursor: pointer;">
    <!-- Card Title -->
    <span class="card-title grey-text text-darken-4">Daniel Bras</span>
  </div>
  <div class=" card-reveal" style="overflow: hidden">
    <!-- Card content about me -->
    <span class="card-title grey-text text-darken-4">Daniel Bras <i class="material-icons right">close</i></span>

    <p>Systems analyst and developer, student of the git course.</p>

    <p class="center">
      <a href="http://github.com/danielbras" target="blank"
        class="grey darken-4 dark-text waves-effect waves-light btn">
        <i class="fa fa-github"></i> Github profile
      </a>
    </p>
    <p class="center">
      <a href="#!" style="text-decoration: none;color: #000000;">
        <i class="fa fa-linux" style="font-size: 50px;"></i>
      </a>
    </p>
  </div>
</div>