<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars2.githubusercontent.com/u/29989620?s=460&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Celso Araujo</span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Celso Araujo<i class="material-icons right">close</i></span>
      <p>
        Estudante de Sistemas de Informação.
      </p>
      <p class="center">
        <a href="https://github.com/celsopa" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>GitHub Profile</a>
        <i class="fab fa-git-square" style="font-size:50pt"></i>
        <br><br>
        <a href="https://www.linkedin.com/in/celsopa/" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>Linkedin Profile</a>
        <i class="fab fa-linkedin-in" style="font-size:50pt"></i>
      </p>

    </div>
  </div>
