<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars3.githubusercontent.com/u/3731015?s=460&u=b55ac899a6839aee89d47babcbf75b53e0fa8430&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Everton Pereira</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Everton Pereira<i class="material-icons right">close</i></span>
      <p>
        Um programador web que prefere ficar offline.
      </p>

      <div class="collection">
        <a href="https://github.com/coffeverton" target="_blank" class="collection-item blue-grey darken-4 waves-effect waves-light btn">
        	<i class="fa fa-github-square" aria-hidden="true"></i>
        </a>
        <a href="https://www.last.fm/user/coffeverton" target="_blank" class="collection-item blue-grey darken-4 waves-effect waves-light btn">
        	<i class="fa fa-lastfm-square" aria-hidden="true"></i>
        </a>
        <a href="https://everton.rocks" target="_blank" class="collection-item blue-grey darken-4 waves-effect waves-light btn">
        	<i class="fa fa-home" aria-hidden="true"></i>
        </a>
        <a href="https://open.spotify.com/user/coffeverton" target="_blank" class="collection-item blue-grey darken-4 waves-effect waves-light btn">
        	<i class="fa fa-spotify" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>