<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars1.githubusercontent.com/u/19740176?s=400&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Cym</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Cym<i class="material-icons right">close</i></span>


      <p class="center">
        <a href="https://github.com/cymLP2" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>Github</a>
      </p>

    </div>
  </div>