<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars2.githubusercontent.com/u/49249228?s=460&u=1502cab443090f22f7f7bad38b5d9a682d57a786&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Daniel Santos</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Daniel Santos<i class="material-icons right">close</i></span>

      <p>
        Desenvolvedor Javascript
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/daniel-santos-7" class="grey darken-4 waves-effect waves-light btn"><i class="fa fa-github left"></i>Github</a>
        <br><br>
      </p>

    </div>
  </div>