<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars2.githubusercontent.com/u/62904349?s=460&u=a4634bda6a3da0ef319b987ef6ee414ddbe6795d&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Danilo Mello</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Danilo Mello<i class="material-icons right">close</i></span>

      <p>
        Aluno do curso de Git
      </p>

      <p class="center">
        <a href="https://github.com/danilo-mello" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
        <i class="fa fa-linux" style="font-size:100pt"></i>
      </p>
    </div>
  </div>
