<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://static.wikia.nocookie.net/bleach/images/8/8d/572Kenpachi_profile.png/revision/latest/scale-to-width-down/350?cb=20210417222326&path-prefix=en">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Dennys Nascimento</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Dennys Nascimento<i class="material-icons right">close</i></span>

      <p>
        Estudante de Ciência de dados e aluno do curso de Git
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/dennysnascimento/" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-github"></i> GITHUB</a>
        <br><br>
        <i class="fa fa-cogs" style="font-size:50pt"></i>
      </p>

    </div>
  </div>