<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://media-exp1.licdn.com/dms/image/C4E03AQFzUg9sjWBV_w/profile-displayphoto-shrink_800_800/0/1628523979842?e=1637193600&v=beta&t=6fMI6Txk18AIDxoru0M2G60ksBCwQPrVbakeJTxjazU">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Dennys Nascimento</span>
    </div>
    <div class="card-reveal">
      <p>
        Estudante de Ciência de dados e aluno do curso de Git
      </p>

      <p class="center">
        LinkeIn:<br>
        <a class="orange-text text-darken-2" href="https://www.linkedin.com/in/dennysnascimento/">Dennys Nascimento</a><br><br>
        Git Hub:<br>
        <a class="orange-text text-darken-2" href="https://github.com/dennysnascimento/">dennysnascimento</a><br>
        <i class="fa fa-music" style="font-size:50pt"></i>
      </p>

    </div>
  </div>