<div class="card hoverable">
    
	<div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars0.githubusercontent.com/u/33639676?s=400&v=4">
    </div>
    
	<div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Diego Palma</span>
    </div>
    
	<div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Diego Palma<i class="material-icons right">close</i></span>
    
	<p>
        Aluno do curso de Git
    </p>
	  
      <p class="center">
      <a href="https://github.com/dieg0palma" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
      <br><br>
      <a href="https://www.linkedin.com/in/diego-palma-05519a57/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square left" aria-hidden="true"></i> Linkedin Profile</a>
	  <br><br>
	  <i class="fa fa-windows" style="font-size:100pt"></i>
      </p>
    
	</div>
  </div>