<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars1.githubusercontent.com/u/44952566?s=460&u=49bddba335686455066ac46e94842fc48ecdba22&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Diego Freire</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Diego Freire de Andrade<i class="material-icons right">close</i></span>

      <p>
        Desenvolvedor Júnior.
      </p>

      <p class="center">
        
        <p>
          <!--Git Hub -->
          <a href="https://github.com/DiegoFR20" class="grey darken-2"><i class="fa fa-github"></i>GitHub</a>
        </p>
        <p>
          <!-- Linkedin-->
          <a href="https://www.linkedin.com/in/diego-freire-de-andrade-94931015b/" class="blue lighten-3"><i class="fa fa-linkedin"></i>Linkedin</a>
        </p>
        
        <i class="fa fa-guitar" style="font-size:50pt"></i>
      </p>

    </div>
  </div>