<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <!-- Card Image -->
    <img class="activator" src="https://avatars2.githubusercontent.com/u/14131850?s=460&v=4">
  </div>
  <div class="card-content activator" style="cursor:pointer">
    <!-- Card Title -->
    <span class="card-title grey-text text-darken-4">Diego Santos
      <i class="fa fa-code"></i>
    </span>
  </div>
  <div class="card-reveal">
    <!-- Card Reveal Content -->
    <span class="card-title grey-text text-darken-4">Diego Santos
      <i class="material-icons right">close</i>
    </span>

    <p>
      Front End React Developer
    </p>

    <p class="center">
      <!-- Sample Button -->
      <a href="https://github.com/diegosantoss" class="grey lighten-2 black-text waves-effect waves-light btn diegosantos">
        <i class="fa fa-github-alt"></i>
        Button
      </a>
      <a href="https://www.linkedin.com/in/diegosantoss/" class="grey lighten-2 black-text waves-effect waves-light btn diegosantos">
        <i class="fa fa-linkedin-square"></i>
        Button
      </a>
      <a href="http://diegosantos.me/" class="grey lighten-2 black-text waves-effect waves-light btn diegosantos">
        <i class="fa fa-globe"></i>
        Button
      </a>
      <br />
      <br />
      <i class="fa fa-code" style="font-size:50pt"></i>
    </p>

  </div>
</div>