<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <!-- Card Image -->
    <img
      class="activator"
      src="https://avatars2.githubusercontent.com/u/33607442?s=460&u=8b6fb3ba339346713cc350d2d2eff3390895bad2&v=4"
    />
  </div>
  <div class="card-content activator" style="cursor:pointer">
    <!-- Card Title -->
    <span class="card-title grey-text text-darken-4"
      >diegolemospadilha<i class="fa fa-github right"></i
    ></span>
  </div>
  <div class="card-reveal">
    <!-- Card Reveal Content -->
    <span class="card-title grey-text text-darken-4"
      >diegolemospadilha<i class="material-icons right">close</i></span
    >

    <p>
      Aluno do curso de Git e apaixonado por tecnologia :)
    </p>

    <p class="center">
      <!-- Sample Button -->
      <a
        target="_blank"
        href="https://github.com/diegolemospadilha"
        class="grey lighten-2 black-text waves-effect waves-light btn"
        ><i class="fa fa-github left"></i>GitHub Profile</a
      >
      <br /><br />
      <a
        target="_blank"
        href="https://www.linkedin.com/in/diegolemospadilha/"
        class="light-blue darken-4 white-text waves-effect waves-light btn"
        ><i class="fa fa-linkedin-square left"></i>LinkedIn Profile</a
      >
      <br /><br />
      <i class="fa fa-code" style="font-size:80pt"></i>
    </p>
  </div>
</div>
