<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars1.githubusercontent.com/u/42156862?s=400&u=3dff17c782584f4d1964faadea5b51c3600f993d&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Douglas Carvalho<i class="fa fa-git right"></i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Douglas Carvalho<i class="material-icons right">close</i></span>
      <p>
      A distancia entre o sonho e a realidade... é a disciplina!
      </p>
      <p class="center">
        <a href="https://github.com/douglasjorge" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
      </p>
    </div>
  </div>
