<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars2.githubusercontent.com/u/23122898?s=460&u=ae3818e563aed43c0c89760a963784c5f7e01a4c&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Eder Pereira <i class="fa fa-github right"></i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Eder Pereira<i class="material-icons right">close</i></span>
      <p>
      Aluno do Curso de Git
      </p>
      <p class="center">
        <a target="_blank" href="https://github.com/ederp" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>Perfil GitHub</a>
        <br><br>
        <a target="_blank" href="https://www.linkedin.com/in/ederpereira84" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Perfil Linkedin</a>
        <br><br>
      </p>
    </div>
  </div>