<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars0.githubusercontent.com/u/21205709?s=460&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Ednaldo Martins </span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Ednaldo Martins <i class="material-icons right">close</i></span>

      <p>
        Aluno do curso "Git e cintribuições para projetos Open Source".
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/ednaldomartins" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-github"></i> GITHUB</a>
        <br><br>
        <i class="fa fa-linux" style="font-size:30pt"></i>
        <i class="fa fa-windows" style="font-size:30pt"></i>
        <i class="fa fa-github" style="font-size:30pt"></i>
      </p>

    </div>
  </div>