<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <img
      class="activator"
      src="https://avatars1.githubusercontent.com/u/34636871?s=460&u=a6de52646001b647d2dcc22c4b4170e70a1756fd&v=4"
    />
  </div>
  <div class="card-content activator" style="cursor:pointer">
    <span class="card-title grey-text text-darken-4"
      >Edrei Fernandes<i class="fa fa-git right"></i
    ></span>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4"
      >Edrei Fernandes De Oliveira<i class="material-icons right"
        >close</i
      ></span
    >
    <p>
      Programdor e Game Dev, Cursando sistemas de informação
    </p>
    <p class="center">
      <a
        href="https://github.com/EdreiFernandes"
        class="grey lighten-2 black-text waves-effect waves-light btn"
        ><i class="fa fa-github-alt left"></i>GitHub Profile</a
      >
    </p>
  </div>
</div>
