<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars2.githubusercontent.com/u/62448212?s=460">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
        <span class="card-title grey-text text-darken-4">Eduardo Levandovski</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Aluno Curso de Git<i class="material-icons right">close</i></span>

      <p>
        Perfil no GitHub
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/eduardoldk-hub" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-github-alt left"> eduardoldk</i></a>
        <br><br>
      </p>

    </div>
  </div>