<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="https://avatars3.githubusercontent.com/u/36228773?s=300">
  </div>
  <div class="card-content activator" style="cursor:pointer">
    <span class="card-title grey-text text-darken-4">Eduardo Grigoletto <i class="fa fa-git right"></i></span>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Eduardo Grigoletto<i class="material-icons right">close</i></span>
    <p>
    Aluno do Curso de Git :)
    </p>
    <p class="center">
      <a href="https://github.com/egrigoletto" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>Perfil GitHub</a>
      <br><br>
      <a href="https://www.linkedin.com/in/eduardo-grigoletto-costa-70760b53/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square left" aria-hidden="true"></i> Perfil Linkedin</a>
      <br><br>
      <i class="fa fa-windows" style="font-size:100pt"></i>
    </p>
  </div>
</div>