<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="https://avatars.githubusercontent.com/u/26935907?s…00&u=458caf701c9cb555ac5cc3eb67fe968ae623283e&v=4">
  </div>
  <div class="card-content activator" style="cursor:pointer">
    <span class="card-title grey-text text-darken-4">Emílio Nicoletti <i class="fa-brands fa-git-alt"></i></span>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Emílio Nicoletti<i class="material-icons right">close</i></span>
    <p>
    Aluno do Curso de Git :)
    </p>
    <p class="center">
      <a href="https://github.com/eamnicoletti" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>Perfil GitHub</a>
      <br><br>
      <a href="https://www.linkedin.com/in/eamnicoletti/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square left" aria-hidden="true"></i> Perfil Linkedin</a>
      <br><br>
      <i class="fa-brands fa-js" style="font-size:100pt"></i>
    </p>
  </div>
</div>