<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars1.githubusercontent.com/u/62480750?s=400&u=807e1edbbfd83922d3fb5811b7d012f2dca129f4&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Enrique Ponce</span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Enrique Ponce<i class="material-icons right">close</i></span>
      <p>
        Aluno do curso de Git e Estudante de Engenharia Mecatrônica
      </p>
      <p class="center">
        <a href="https://github.com/kolepcruz" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github left"></i>Github_Profile</a>
        <br><br>
        <a href="https://www.linkedin.com/in/enrique-antonio-ponce-cruz-596a01180/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square left" aria-hidden="true"></i> Linkedin_Profile</a>
        <br><br>
        <i class="fa fa-linux" style="font-size:100pt"></i>
      </p>
    </div>
  </div>
