<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars1.githubusercontent.com/u/29927028?s=400&u=5b5671376e5c1b79177ee760c0a346ef0f85d9bd&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Fábio Henrique Wan-Dall</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Fábio WanDall<i class="material-icons right">close</i></span>

      <p>
        Salesforce Dev
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/FabioWanDall" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GITHUB PROFILE</a>
        <br/><br/>
        <i class="fa fa-shower" aria-hidden="true"></i>
      </p>

    </div>
  </div>
