<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars.githubusercontent.com/u/90205729?s=400&u=da1f7131f6a6bfe393cbdcd1554de2a830548626&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Fábio</span><i class="fa fa-github right" style="font-size:23pt"></i>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Fábio<i class="material-icons right">close</i></span><i class="fa fa-coffee" aria-hidden="true"></i>

      <p>
        Aluno do curso de Git e Desenvolvedor Java
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/FabioSCP0" class="black darken-4 waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub</a>
        <br><br>
      </p>

    </div>
  </div>