<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://media.licdn.com/dms/image/C5603AQH7A7_7yXCmsQ/profile-displayphoto-shrink_200_200/0/1653228544318?e=1682553600&v=beta&t=g2Lzh56frO9iWbYmk9kFBx0FmYQuvBJzfWiavk9zz04">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Fagner Fjas</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Fagner Fjas<i class="material-icons right">close</i></span>

      <p>
        Aluno do curso GIT <br>
        Programador Web
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/fagnerfjas" class="yellow darken-4 waves-effect waves-light btn">
          <i class="fa fa-fw fa-github" aria-hidden="true"></i> My GitHub</a>
        <br><br>
        <a href="https://www.linkedin.com/in/fagner-jefferson/" class="yellow darken-4 waves-effect waves-light btn">
          <i class="fa fa-linkedin" aria-hidden="true"></i> My Linked In </a>
        <br><br>
        
      </p>

    </div>
  </div>