<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <!-- Card Image -->
    <img class="activator" src="https://media-exp1.licdn.com/dms/image/C5603AQHGJc5Uh9jwUw/profile-displayphoto-shrink_200_200/0/1640013362120?e=1648684800&v=beta&t=qhTMvY0sPuYlNfUxM-Fnxogmv-fYD1UQkT5hyRL0Jc8">
  </div>
  <div class="card-content activator" style="cursor:pointer">
    <!-- Card Title -->
    <span class="card-title grey-text text-darken-4"><i class="fa fa-coffee" aria-hidden="true"></i>Felipe Rodrigues Pucci<i class="fa fa-rocket" aria-hidden="true" ></i></span>
  </div>
  <div class="card-reveal">
    <!-- Card Reveal Content -->
    <span class="card-title grey-text text-darken-4">Felipe R. Pucci<i class="material-icons right">close</i></span>
    <p>
      Analista de Sistemas - Bacharel em Adm
    </p>

    <p class="center">
      <!-- Sample Button -->
      <a href="https://github.com/CrossoverSI" class="indigo darken-3 waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
      <br><br>
      
    </p>
  </div>
</div>