<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://www.civimi.com/beta/civimi/img/basic-img/user.jpg">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Felipe Marques <i class="fa fa-git right"></i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Felipe Marques<i class="material-icons right">close</i></span>
      <p>
      Sysadmin
      </p>
      <p class="center">
        <a href="https://github.com/felipeaom" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
        <a href="https://www.linkedin.com/in/felipe-marques-27b261103/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
        <br><br>
        <i class="fa fa-linux" style="font-size:100pt"></i>
      </p>
    </div>
  </div>
