<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="http://www.civimi.com/beta/civimi/img/basic-img/user.jpg">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">User Name</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">User Name<i class="material-icons right">close</i></span>

      <p>
        Sample bio
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="#" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>Button</a>
        <br><br>
        Colors from:<br>
        <a class="orange-text text-darken-2" href="http://materializecss.com/color.html">http://materializecss.com/color.html</a><br><br>
        Icons from:<br>
        <a class="orange-text text-darken-2" href="http://fortawesome.github.io/Font-Awesome/icons/">http://fortawesome.github.io/Font-Awesome/icons/</a><br>
        <i class="fa fa-music" style="font-size:50pt"></i>
      </p>

    </div>
  </div>