<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
        <!-- Card Image -->
        <img class="activator" src="https://avatars2.githubusercontent.com/u/21695538?s=400&u=0904193a1cfa0029cc79ce820c12e29ccbdd098c&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
        <!-- Card Title -->
        <span class="card-title grey-text text-darken-4">Gabriel Alves</span>

    </div>
    <div class="card-reveal">
        <!-- Card Reveal Content -->
        <span class="card-title grey-text text-darken-4">Gabriel Alves<i class="material-icons right">close</i></span>

        <p>
            Aluno Git
        </p>

        <p class="center">
            <!-- Sample Button -->
			<a href="https://github.com/costagabe" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
            <br><br>
            <a href="https://www.linkedin.com/in/gabriel-costa-b38934164/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
            <br><br>
            <i class="fa fa-music" style="font-size:50pt"></i>
        </p>
    </div>
</div>
