<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src=https://avatars1.githubusercontent.com/u/61946598?s=460&u=11fa6ea3445c2d96e2f29e6ea22c88daced6c322&v=4>
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Gilsom Jacoby</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Gilsom Jacoby<i class="material-icons right">close</i></span>

      <p>
        Aluno do curso de Git
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/gmjgit" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>Button</a>
        <br><br>
        <a href="https://www.linkedin.com/in/gilsom-jacoby-577229199/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
        <br><br>
        <i class="fa fa-windows" style="font-size:90pt"></i>
      </p>

    </div>
  </div>