<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="http://www.civimi.com/beta/civimi/img/basic-img/user.jpg">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Guilherme dos Santos Moreira</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">GMoreira-Tro<i class="material-icons right">close</i></span>

      <p>
        Curso de git :)
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="#" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>Botão</a>
        <br><br>
        <br>
        <a class="orange-text text-darken-2" href="https://github.com/GMoreira-Tro"> Link do Github</a><br><br>
      </p>

    </div>
  </div>