<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars3.githubusercontent.com/u/13632389?s=460&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Gustavo Pistore</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Gustavo Pistore<i class="material-icons right">close</i></span>

      <p>
          Aluno curso de Git.
      </p>
        <br>
      <p class="center">
          <a href="https://github.com/gpistore" class="blue darken-2 waves-effect waves-light btn"><i class="fa fa-github-square" style="margin-top:10%"></i></a><br><br>
          <br>
          <i class="fa fa-code" style="font-size:40pt"></i>
      </p>

    </div>
  </div>