<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://scontent.fcgh17-1.fna.fbcdn.net/v/t1.0-9/44146150_1107646649399862_7215126439702560768_n.jpg?_nc_cat=106&_nc_ohc=q80CLclTGycAX8XMIm4&_nc_ht=scontent.fcgh17-1.fna&oh=515e602cb9e1dcf59cb385662a3dbc98&oe=5EB95BA0">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Guilherme Ribas</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Guilherme Ribas<i class="material-icons right">close</i></span>

      <p>
        Aluno do Curso de Git e Desenvolvedor front-end - Angular
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="#" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>Button</a>
        <br><br>
        Colors from:<br>
        <a class="orange-text text-darken-2" href="http://materializecss.com/color.html">http://materializecss.com/color.html</a><br><br>
        Icons from:<br>
        <a class="orange-text text-darken-2" href="http://fortawesome.github.io/Font-Awesome/icons/">http://fortawesome.github.io/Font-Awesome/icons/</a><br>
        <i class="fa fa-music" style="font-size:50pt"></i>
      </p>

    </div>
  </div>