<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars.githubusercontent.com/u/74025447?v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Guilherme Silva</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Guilherme Silva<i class="material-icons right">close</i></span>

      <p>
        Estudande de Análise e Desenvolvimento de Sistemas e amante da tecnologia!.
      </p>

      <p class="center">        
        <a target="_blank" href="https://github.com/gsilvaro11" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github left"></i>GitHub Profile</a>
      </p>

    </div>
  </div>