<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars2.githubusercontent.com/u/19411615?s=460&v=1">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Lucas Guimarães</span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Lucas Guimarães<i class="material-icons right">close</i></span>
      <p>
        Analista e Desenvolvedor Full Stack | MBA | SFPC | Certified Delphi Developer
      </p>
      <p class="center">
        <a href="https://github.com/guimaraes-lucas" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>Button</a>
        <br><br>
        Colors from:<br>
        <a class="orange-text text-darken-2" href="http://materializecss.com/color.html">http://materializecss.com/color.html</a><br><br>
        Icons from:<br>
        <a class="orange-text text-darken-2" href="http://fortawesome.github.io/Font-Awesome/icons/">http://fortawesome.github.io/Font-Awesome/icons/</a><br>
        <i class="fa fa-music" style="font-size:50pt"></i>
      </p>
    </div>
  </div>
