<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <!-- Card Image -->
    <img class="activator" src="https://avatars3.githubusercontent.com/u/1966484?s=460&v=4">
  </div>
  <div class="card-content activator" style="cursor:pointer">
    <!-- Card Title -->
    <span class="card-title grey-text text-darken-4">Guionardo<i class="fa fa-github right"></i></span>
  </div>
  <div class="card-reveal">
    <!-- Card Reveal Content -->
    <span class="card-title grey-text text-darken-4">Guionardo
      <i class="material-icons right">close</i>
    </span>

    <p>
      Desenvolvedor da época onde conectividade era baseada no protocolo
      <abbr title="Disquete Pra Cá, Disquete Pra Lá">DPCDPL</abbr>
    </p>

    <p class="center">
        <a target="_blank" href="https://github.com/guionardo" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github left"></i>GitHub Profile</a>      
    </p>

  </div>
</div>