<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
        <!-- Card Image -->
        <img class="activator" src="https://avatars2.githubusercontent.com/u/7438752?v=3&s=466">
    </div>
    <div class="card-content activator" style="cursor:pointer">
        <!-- Card Title -->
        <span class="card-title grey-text text-darken-4">GuiTufaile<i class="fa fa-coffee right"></i></span>
    </div>
    <div class="card-reveal">
        <!-- Card Reveal Content -->
        <span class="card-title grey-text text-darken-4">GuiTufaile<i class="material-icons right">close</i></span>

        <p>
            Aluno curso de Git
        </p>

        <p class="center">
            <br><br>
            <a target="_blank" href="https://github.com/GuiTufaile" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github left"></i>GitHub Profile</a>
            <br><br>
            <a target="_blank" href="https://fb.com/GuiTufaile" class="indigo lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-facebook left"></i>Facebook Profile</a>
            <br><br>
        </p>

    </div>
</div>
