<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Bruce_McCandless_II_during_EVA_in_1984.jpg">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Gustavo Rocha</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Gustavo Rocha<i class="material-icons right">close</i></span>

      <p>
        Astronauta das tecnologias DevOps!
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/gustavoazro"
           target="blank"           
           class="grey darken-2 waves-effect waves-light btn">
           <i class="fa fa-github left"></i>Github profile
        </a>
        <br><br>
        <a href="http://linkedin.com/in/gustavoazro"
           target="blank"
           class="blue lighten-2 waves-effect waves-light btn">
           <i class="fa fa-github left"></i>Linkedin profile
        </a>
        <br><br>
        <i class="fa fa-rocket" style="font-size:80pt"></i>
      </p>

    </div>
  </div>