<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars.githubusercontent.com/u/53544144?s=400&u=9759cf6ca0618f44b56033e11f9f0475c2c37c29&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Gustavo da Costa Nunes <i class="fa fa-git right"></i> </span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Gustavo da Costa Nunes<i class="material-icons right">close</i></span>

      <p>
        Estudante de Análise e Desenvolvimento de Sistemas na Fatec de Ferraz Vasconcelos.
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://www.linkedin.com/in/gustavo-nunes-b326a51b0/" class="light-blue darken-4 white-text waves-effect waves-light btn"> <i class="fa fa-linkedin-square left"></i> Linkedin </a>
        <br/> <br/>
        <a href="https://github.com/Gustavo-Nuness" class="grey lighten-2 black-text waves-effect waves-light btn"> <i class="fa fa-github-alt left"></i> GitHub </a>
        <br/> <br/>
        <i class="fa fa-git" style="font-size:100pt"></i>
        
      </p>

    </div>
  </div>