<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://media-exp1.licdn.com/dms/image/C4D03AQF5OkDZCGGW2A/profile-displayphoto-shrink_200_200/0?e=1587600000&v=beta&t=WW-qq91twhaog45hH8BAufpI8Gn04w7k6Vjmdsisr7Q">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Henrique Fernandes</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Henrique Fernandes<i class="material-icons right"> close</i></span>

      <p>
        Java Software Engineer
      </p>

      <p class="center">
        <a class="orange-text text-darken-2" href="https://github.com/henriquedeof">Github Profile</a><br><br>
        <a class="orange-text text-darken-2" href="https://www.linkedin.com/in/henrique-fernandes/">LikedIn</a><br>
        <i class="fa fa-music" style="font-size:50pt"></i>
      </p>

    </div>
  </div>