<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars0.githubusercontent.com/u/35105537?s=400&u=ae6d001fa47845c32eb74ddc542617cfa060d856&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">HiagoW</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">HiagoW<i class="material-icons right">close</i></span>

      <p>
        Aluno do Curso de Git
      </p>

      <p class="center">
        <i class="fa fa-music" style="font-size:50pt"></i>
      </p>

    </div>
  </div>