<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://i.imgur.com/A6NWtgC.jpg">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Hyago Vieira</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Hyago Vieira<i class="material-icons right">close</i></span>

      <p>
        Desenvolvedor e aluno do curso de Git e GitHub.
      </p>

      <p class="center">
        <a href="https://github.com/kielhyre" target="_blank" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
        <i class="fa fa-code" style="font-size:40pt"></i> 
      </p>

    </div>
  </div>