<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator"
             src="https://avatars2.githubusercontent.com/u/20797306?s=400&u=d8cfa816b6520ff8975019df8af778731be0da04&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
        <span class="card-title grey-text text-darken-4">Igor Túllio</span>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Igor Túllio<i class="material-icons right">close</i></span>
        <p>Bacharel em Ciência da Computação</p>
        <p class="center">
            <a href="https://github.com/igortullio" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
            <br><br>
            <a href="https://www.linkedin.com/in/igor-túllio-994245140/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square left" aria-hidden="true"></i> Linkedin Profile</a>
        </p>
    </div>
</div>