<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars3.githubusercontent.com/u/7417707?s=460&u=d92bcfcabf0f755552deeb1eb65d76d300609051&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Italo Ramos</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Italo Ramos<i class="material-icons right">close</i></span>

      <p>
        Estudante, Análise e Desenvolvimento de Sistemas - IFBA
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/Itaperam" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
        <a href="https://www.linkedin.com/in/italo-pereira-ramos-568891b8/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square left" aria-hidden="true"></i>Linkedin Profile</a>
        <br><br>
      </p>

    </div>
  </div>