<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://avatars0.githubusercontent.com/u/29216050?s=460&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
        <span class="card-title grey-text text-darken-4">Juliana</span>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Juliana<i class="material-icons right">close</i></span>

        <p>
            Analista desenvolvedora web
        </p>

        <p class="center">
            <a href="https://github.com/jba93" class="grey lighten-2 black-text waves-effect waves-light btn"><i
                    class="fa fa-github-alt left"></i>GitHub Profile</a>
            <br><br>
            <i class="fa fa-code" style="font-size:50pt"></i>
        </p>

    </div>
</div>