<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars.githubusercontent.com/u/93266611?s=400&u=39b816080d398cb2e9800ba83b5d2bfe7bcc4432&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Jean Pierre <i class="fa fa-git right"> </i></span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Jean Pierre<i class="material-icons right">close</i></span>

      <p>
        Iniciante em Programação!
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/Streamerjml" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub</a>
        <a href="https://www.linkedin.com/in/jean-pierre-barbosa-de-andrade-a917ba1ab/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
        <br><br>
        <i class="fab fa-github" style="font-size:100pt"></i>
      </p>

    </div>
  </div>