<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="https://avatars0.githubusercontent.com/u/44099732">
  </div>
  <div class="card-content activator" style="cursor:pointer">
    <span class="card-title grey-text text-darken-4">João Tartaglia</span>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">João Tartaglia<i class="material-icons right">close</i></span>
    <p>
    interest_in = [ <br>
                    'Data Science', <br>
                    'Machine Learning', <br>
                    'AI', <br>
                    'DevOps', <br>
                    'Linux' <br>
                  ]
    </p>
    <p class="center">
      <a href="https://github.com/jvtartaglia" target="_blank" title="Perfil Github de João" class="col s12 grey darken-4 white-text waves-effect waves-light btn"><i class="fa fa-github"></i></a>
      <br><br>
      <a href="https://br.linkedin.com/in/jvtartaglia" target="_blank" title="Perfil LinkedIn de João" class="col s12 light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      <br><br><br>
      <i class="fa fa-terminal" style="font-size:50pt"></i>
    </p>
  </div>
</div>
