<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://user-images.githubusercontent.com/16071150/64393565-744d4100-d028-11e9-8fe5-3d7378cbd602.jpg">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Joao Ribeiro<i class="fa fa-git right"></i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Joao Ribeiro<i class="material-icons right">close</i></span>
      <p>
      Aprendendo git!
      </p>
      <p class="center">
        <a href="https://github.com/joaorochalr" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
      </p>
    </div>
  </div>
