<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars.githubusercontent.com/u/55861091?s=400&u=6508b48260a09c87087ffadc8ac4f8267ad59dbb&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">João Victor</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">João Victor<i class="material-icons right">close</i></span>

      <p>
        Desenvolvedor .Net
      </p>

      <p class="center">
        <!-- Sample Button -->
         <p class="center">
        <a target="_blank" href="https://github.com/jvas18" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github left"></i>GitHub Profile</a>      
        </p>
      </p>

    </div>
  </div>