<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars2.githubusercontent.com/u/46570778">

    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Joao Schardosim</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Joao Schardosim<i class="material-icons right">close</i></span>

      <p>
          Automator test
      </p>

      <p class="center">
          <a href="https://linkedin.com/in/joaoschardosim" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
          <br>
      </p>
    </div>
  </div>