<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars1.githubusercontent.com/u/20363949?s=460&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Johnny Alves</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Johnny Alves<i class="material-icons right">close</i></span>

      <p style="font-size: 0.8rem">O que escrever aqui?? <span style="font-weight: bold">Ja sei!</span></p>
      <p style="font-size: 0.8rem; color: #707070;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua (...)
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a target="_blank" href="https://github.com/John-Alves" class="grey lighten-2 black-text waves-effect waves-light btn">
          <i class="fa fa-github left"></i>
          GitHub
        </a>
      </p>

    </div>
  </div>