<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars1.githubusercontent.com/u/16279050?s=400&u=52d4e17ef122b0d90d0bf4de0123ad2d9ca493c7&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Joimar Brito Gonçalves Filho</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Joimar<i class="material-icons right">close</i></span>

      <p>
        Graduado em Engenharia de Computação, Game Dev e estudante do curso de git.
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/Joimar" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>GitHub Profile</a>
        <br><br>

      
        <i class="fa fa-music" style="font-size:50pt"></i>
      </p>

    </div>
  </div>
