<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars2.githubusercontent.com/u/61567500?s=460&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">José Antonio</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">José Antonio<i class="material-icons right">close</i></span>

      <p>
        Java Coder
      </p>

      <p class="center">
        <!-- Buttons -->
        <a href="https://github.com/toninhor" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
        <a href="https://www.linkedin.com/in/jos%C3%A9-antonio-da-silva-pinto-31a14556/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
        <br><br>
        <a href="http://www.jpinto.com.br" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>JPinto</a>
        <br><br>
      </p>

    </div>
  </div>
