<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars2.githubusercontent.com/u/32887246?s=60&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">JRMartinho</span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">JRMartinho<i class="material-icons right">close</i></span>
      <p>
        Mais um aluno satisfeito deste curso. Obrigado!
      </p>
      <p class="center">
        <a href="https://github.com/jrmartinho" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>Button</a>
        <br><br>
        <i class="fa fa-linux" style="font-size:100pt"></i>
      </p>
    </div>
  </div>