<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://media-exp1.licdn.com/dms/image/C4D03AQF-SnaTegNGvQ/profile-displayphoto-shrink_800_800/0/1645575013742?e=1666224000&v=beta&t=Aq8WJ3-mGhxyIMYtRi9AG0hrzjqPjbmY5vjLf13jQDU">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Julio Huang</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Julio Huang<i class="material-icons right">close</i></span>

      <p>
        Aluno do curso Git e cursando Ciência da Computação.
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/Huangnli" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github left"></i>GitHub</a>
        <br><br>

        <a href="https://www.linkedin.com/in/julio-h-808901b1/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square left"></i>Linkedin</a>
        <br><br>

        <i class="fa fa-bug" style="font-size:50pt"></i>
      </p>

    </div>
  </div>