<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="https://avatars1.githubusercontent.com/u/12601949?s=460&v=4">
  </div>
  <div class="card-content activator" style="cursor:pointer">
    <span class="card-title grey-text text-darken-4">Julio Sieg</span>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Julio Sieg<i class="material-icons right">close</i></span>

    <p>
      Desenvolvedor Web e Mobile
    </p>

    <p class="center">
        <br><br>
      <a href="https://github.com/juliosieg" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
      
    </p>

  </div>
</div>