<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars1.githubusercontent.com/u/36752711?s=460&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Kaio Prates</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Kaio Prates<i class="material-icons right">close</i></span>

      <p>
        Aluno do curso de git
      </p>

      <p class="center">
        <!-- Sample Button -->
 <a target="_blank" href="https://github.com/Kaiofprates" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github left"></i>GitHub Profile</a>
            <br><br>
            <a target="_blank" href="https://www.facebook.com/kailprates" class="indigo lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-facebook left"></i>Facebook Profile</a>
        <br><br>
      </p>

    </div>
  </div>
