<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars1.githubusercontent.com/u/62639737?s=400&u=10fdedbeaa052ed10df1f4e9ba75f6aa86f00069&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Karine do Valle</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Karine do Valle<i class="material-icons right">close</i></span>

      <p>
        Aluna de análise e desenvolvimento de sistemas.
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/KarinedoValle" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>Perfil</a>
        <br><br>
        <i class="fa fa-code" style="font-size:50pt"></i>
      </p>

    </div>
  </div>