<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://scontent.fcpq5-1.fna.fbcdn.net/v/t1.0-9/66045215_2411132618972134_5939150411213570048_n.jpg?_nc_cat=102&_nc_oc=AQlFJLNdNvwIhORTuhDR006GwlCStOpT_FQSgk30gmpdvsAMuw-4ARcGswtGNwWvQ_k&_nc_ht=scontent.fcpq5-1.fna&oh=7c9c9164e4194b91e6ec242f4cec85e4&oe=5DA26011">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Leandro Magalhães</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Leandro Magalhães<i class="material-icons right">close</i></span>

      <p>
        <ul>
          <li>Estudante de Engenharia de Computação na Universidade Estadual de Campinas (UNICAMP).</li>
          <li>Estagiário em Engenharia de Software (Front-End) na VulcaNet Sistemas e Engenharia.</li>
        </ul>
      </p>

      <p class="center">
        <a href="https://leandroafm21.github.io/personal" class="grey lighten-2 black-text waves-effect waves-light btn" target="__blank"><i class="fa fa-github-alt left"></i>Personal Page</a>
      </p>

    </div>
  </div>
