<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <!-- Card Image -->
    <img class="activator" src="http://www.civimi.com/beta/civimi/img/basic-img/user.jpg">
  </div>
  <div class="card-content activator" style="cursor:pointer">
    <!-- Card Title -->
    <span class="card-title grey-text text-darken-4">Leandro Dutra e Silva</span>
  </div>
  <div class="card-reveal">
    <!-- Card Reveal Content -->
    <span class="card-title grey-text text-darken-4">Leandro Dutra e Silva<i class="material-icons right">close</i></span>

    <p>
      Aluno do curso de Git
    </p>

    <p class="center">
      <!-- Sample Button -->
      <a href="#" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>Button</a>
      <br><br>
      GitHub Profile:<br>
      <a class="orange-text text-darken-2" href="https://github.com/Leandrodutra">https://github.com/Leandrodutra</a><br><br>
      Linkedin:<br>
      <a class="orange-text text-darken-2" href="https://www.linkedin.com/in/leandro-dutra-e-silva-104809144">https://www.linkedin.com/in/leandro-dutra-e-silva-104809144</a><br>
      
    </p>
  </div>
</div>