<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars1.githubusercontent.com/u/25851672">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Leonardo Bittencourt</span>
    </div>
    <div class="card-reveal black">
      <!-- Card Reveal Content -->
      <span class="card-title white-text text-lighten-4">Leonardo Bittencourt da Silva<i class="material-icons right">close</i></span>

      <p class="white-text">
        Aluno do curso de Git.
      </p>

      <p class="center">
        <!-- Sample Button -->
        <br></br>
        <a href="https://github.com/LeonardoBTT" class="white darken-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>Github</a>
      </p>

    </div>
  </div>