<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars3.githubusercontent.com/u/20508569?s=460&u=eca1aac764dd188e0d5cde4263ca2856c358df2c&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">lfelipe1993</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">lfelipe1993<i class="material-icons right">close</i></span>

      <p>
        Java Developer
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/lfelipe1993" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
        <i class="fa fa-linux" style="font-size:100pt"></i>
      </p>

    </div>
  </div>