<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="https://avatars.githubusercontent.com/u/10968022">
  </div>
  <div class="card-content activator" style="cursor:pointer">
    <span class="card-title grey-text text-darken-4">Biglidio</span>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Biglidio<i class="material-icons right">close</i></span>
    <p>
    Desenvolvedor Magento Front-end
    </p>
    <p class="center">
      <a href="https://github.com/biglidio" target="_blank" title="Perfil Github de Biglidio" class="col s12 grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt"></i></a>
      <br><br>
      <a href="https://br.linkedin.com/in/biglidio" target="_blank" title="Perfil LinkedIn de Biglidio" class="col s12 light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      <br><br>
      <a href="https://www.instagram.com/biglidio/" target="_blank" title="Perfil Instagram de Biglidio" class="col s12 pink darken-2 white-text waves-effect waves-light btn"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <br><br><br>
      <i class="fa fa-steam" style="font-size:50pt"></i>
    </p>
  </div>
</div>
