<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars1.githubusercontent.com/u/42519833?s=400&u=237db963b6afc7fc53d471daa72cabe28f23ed6d&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Luigi Muller</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Luigi Muller<i class="material-icons right">close</i></span>

      <p>
        Aluno do curso de Git e GitHub
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/luigim1998" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>Button</a>
        <br><br>
        Colors from:<br>
        <a class="orange-text text-darken-2" href="http://materializecss.com/color.html">http://materializecss.com/color.html</a><br><br>
        Icons from:<br>
        <a class="orange-text text-darken-2" href="http://fortawesome.github.io/Font-Awesome/icons/">http://fortawesome.github.io/Font-Awesome/icons/</a><br>
        <i class="fa fa-music" style="font-size:50pt"></i>
      </p>

    </div>
  </div>