<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <!-- Card Image -->
    <img class="activator" src="https://avatars.githubusercontent.com/luisluft">
  </div>
  <div class="card-content activator" style="cursor:pointer">
    <!-- Card Title -->
    <span class="card-title grey-text text-darken-4">Luís Alberto Luft<i class="fa fa-fire right"></i></span>
  </div>
  <div class="card-reveal">

    <!-- Card Reveal Content -->
    <span class="card-title blue-text text-darken-4">Luís Alberto Luft<i class="material-icons right">close</i></span>

    <!-- Bio -->
    <p>
      <i>Coração de programador.</i>
    </p>

    <!-- Github link-->
    <a href="https://github.com/luisluft/" class="deep-purple lighten-2 waves-effect waves-light btn">
      <i class="fa fa-github"></i>GitHub
    </a>
    <br/><br/>

    <!-- Webpage link-->
    <a href="https://tecluft.com.br" class="yellow darken-4 waves-effect waves-light btn">
      <i class="fa fa-chain"></i>Website
    </a>
    <br/><br/>

    <!-- Avatar -->
    <div class="center">
      <i class="fa fa-android" style="font-size:50pt"></i>
    </div>
  </div>
</div>