<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="https://github.com/malkaviano.png">
  </div>
  <div class="card-content activator" style="cursor:pointer">
    <span class="card-title grey-text text-darken-4">Malkaviano</span>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Rafael K. Soares da Silva<i class="material-icons right">close</i></span>
    <p>
      Telecommunications Engineer and Developer
    </p>
    <p class="center">
      <a href="https://github.com/malkaviano" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
      <br><br>
      <i class="fa fa-linux" style="font-size:100pt"></i>
    </p>

  </div>
</div>
