<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <!-- <img alt="@marcellopato" class="avatar rounded-2" height="200" src="https://avatars1.githubusercontent.com/u/14094147?s=400&v=4" width="200"> -->
      <img class="activator" src="https://avatars1.githubusercontent.com/u/14094147?s=400&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Marcello Pato</span>
      <i class="fa fa-git right"></i>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Marcello Pato<i class="material-icons right">close</i></span>

      <p>
        Um Designer de Humanas que resolveu aprender a programar para saber o que desenhar. Só que nessas, acabou se apaixonando pela programação!
      </p>

      <p class="center">
        "Love coding"
      </p>

    </div>
  </div>