<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars2.githubusercontent.com/u/7612984?s=460&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">
        Marco Van Brain
        <i class="fa fa-graduation-cap right"></i>
      </span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">
        Marco Van Brain
        <i class="material-icons right">close</i>
      </span>
      <p>
        IT student, technology and internet lover.
      </p>
      <p class="center">
        <!-- Github Button -->
        <a href="https://github.com/marcovanbrain" target="_blank" class="grey lighten-2 black-text waves-effect waves-light btn">
          <i class="fa fa-github left" aria-hidden="true"></i>
          Github
        </a>
        <br><br>
         <!-- LinkedIn Button -->
         <a href="https://www.linkedin.com/in/marcoas/" target="_blank" class="light-blue darken-4 white-text waves-effect waves-light btn">
          <i class="fa fa-linkedin left" aria-hidden="true"></i>
          LinkedIn
        </a>
        <br><br>        
        <!-- HackerRank Button -->
        <a href="https://www.hackerrank.com/marcovanbrain" target="_blank" class="green accent-3 white-text waves-effect waves-light btn">
            <i class="fa fa-code left" aria-hidden="true"></i>
            HackerRank
        </a>
          <br><br>       
        <i class="fa fa-spinner fa-pulse fa-fw" style="font-size:50pt"></i>
      </p>
    </div>
  </div>