<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars1.githubusercontent.com/u/64507988?s=400&amp;u=089e0ab94715dac06b1dfe1552af15b7e3e665bc&amp;v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Marcelo X Oliveira <i class="fa fa-code-fork" aria-hidden="true"></i>
</span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Marcelo X Oliveira <i class="material-icons right">close</i></span>
      <p>
      Aluno do Curso de Git
      </p>
      <p class="center">
        <a href="https://github.com/inforsol10" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
        <a href="www.linkedin.com/in/marcelo-xavier-de-oliveira-52a4581aa" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
        <br><br>
        <i class="fa fa-linux" style="font-size:100pt"></i>
      </p>
    </div>
  </div>







