<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars1.githubusercontent.com/u/47406505?s=400&u=b176ac173e3f8f259cf2d4d75cbf64defeed9743&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Marcus Moraes</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Marcus Moraes<i class="material-icons right">close</i></span>

      <p>
        Software Developer / Engineer
      </p>

      <p class="center">
        <a href="https://github.com/Sorrisomv" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GITHUB</a>
        <br><br>
        <a href="https://www.linkedin.com/in/marcus-moraes-80566875/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i>Linkedin</a>
        <br><br>
        <i class="fas fa-laptop-code" style="font-size:90pt"></i>
      </p>

    </div>
  </div>