<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars.githubusercontent.com/milkfrog">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Marcelo Contin</span>
      <i style="font-size: 15pt" class="fa fa-github right"></i>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Marcelo Contin<i class="material-icons right">close</i></span>
      <p>
        <a style="font-size: 12pt">Engenheiro Eletricista e graduando em Ciências da Computação pela Universidade Federal de Santa Catarina.</a>
      </p>
      <p class="center">
        <i class="fa fa-bug" style="font-size:25pt"></i>
        <br>
        <a href="https://github.com/milkfrog" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br>
        <a href="https://www.linkedin.com/in/continmarcelo/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
        <br>
      </p>
    </div>
  </div>