<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars.githubusercontent.com/u/118299258?v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Marcel Vieira</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Marcel Vieira<i class="material-icons right">close</i></span>

      <p>
        Iniciante em GIT
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/marcelvieira" target="_blank" class="yellow lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github"></i> GitHub</a>
        <br><br>        
        <a class="red lighten-2 black-text waves-effect waves-light btn" href="https://casalpolycel.wordpress.com/" target="_blank"><i class="fa fa-suitcase left"></i>  Blog</a>
        <br><br>
        <a class="green lighten-2 black-text waves-effect waves-light btn" href="https://www.instagram.com/marcelvieiragomes/" target="_blank"><i class="fa fa-instagram left"></i>Insta</a>                
        <hr>
        <center>
          <i class="fa fa-smile-o center" style="font-size:50pt"></i>
        </center>
      </p>

    </div>
  </div>