<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars1.githubusercontent.com/u/39034920?s=460&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">MariMarques</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">MariMarques<i class="material-icons right">close</i></span>

      <p>
        Aluna de engenharia eletronica.
      </p>

      <p class="center">
        <!-- Sample Button -->
        
        GitHub profile:<br>
        <a class="orange-text text-darken-2" href="https://github.com/MariMarques">https://github.com/MariMarques</a><br><br>
      </p>

    </div>
  </div>