<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars3.githubusercontent.com/u/28079571?s=400&u=5329394a87f57fc68df069e67fec62b8267f5bb3&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Matheus Reis</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Matheus Reis<i class="material-icons right">close</i></span>

      <p>
        Recém graduado em ciência da computação e aluno do curso de Git.
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/Matheusrlr" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>Github profile</a>
        
        
        <i class="fa fa-music" style="font-size:50pt"></i>
      </p>

    </div>
  </div>