<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://scontent.fcgh3-1.fna.fbcdn.net/v/t1.0-9/43878992_1120836824747693_3995099207743569920_n.jpg?_nc_cat=105&_nc_oc=AQneQ4egJx03Htef5NquNRtAarBWA70yTSJqNjBaQgCHRvGB7b1DVydrvour5TvE0Rs&_nc_pt=1&_nc_ht=scontent.fcgh3-1.fna&oh=cc3c3aa13a243e975a4ea396f0d79bf6&oe=5DA5C684">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Matheus Alvarenga</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Matheus Alvarenga<i class="material-icons right">close</i></span>

      <p>
        Front-end
      </p>

      <img src="https://static.thenounproject.com/png/183498-200.png">

    </div>
  </div>