<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="https://avatars2.githubusercontent.com/u/33577238?s=400&u=a22e44cfc4f11ec9b72da835da723295dc8a8dd9&v=4">
  </div>
  <div class="card-content activator" style="cursor:pointer">
    <span class="card-title grey-text text-darken-4">Matheus Phelipe</span>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Lais Bento<i class="material-icons right">close</i></span>
    <p>
      Aluno do curso de git e estudante de Engenharia de Computação</p>

    <p class="center">
      <a href="https://github.com/matheusphalves" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
      <br><br>

      <a href="https://www.linkedin.com/in/matheusphalves/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
      <br><br>
      <i class="fa fa-code" style="font-size:50pt"></i>
    </p>

  </div>
</div>