<div class="card hoverable">
	<div class="card-image waves-effect waves-block waves-light">
		<img class="activator" src="https://avatars3.githubusercontent.com/u/22581882?s=40&v=4">
	</div>
	<div class="card-content activator" style="cursor:pointer">
		<span class="card-title grey-text text-darken-4">
			Matheus Ale
			<i class="fa fa-git right"></i>
		</span>
	</div>
	<div class="card-reveal">
		<span class="card-title grey-text text-darken-4">
			Matheus Ale
			<i class="material-icons right">close</i>
		</span>
		<p>
			Aluno do curso de Git & GitHub.
		</p>

		<p>
			Apaixonado por progamação.
		</p>
		<p class="center">
			<a href="https://github.com/matheusAle" class="grey lighten-2 black-text waves-effect waves-light btn">
				<i class="fa fa-github-alt left"></i>
				GitHub
			</a>
			<br><br>
			<a href="https://www.linkedin.com/in/matheusAle/" class="light-blue darken-4 white-text waves-effect waves-light btn">
				<i class="fa fa-linkedin-square" aria-hidden="true"></i>
					Linkedin
				</a>
			<br><br>
			<i class="fa fa-windows" style="font-size:90pt"></i>
		</p>

	</div>
</div>