<div class="card hoverable">
	<div class="card-image waves-effect waves-block waves-light">
		<img class="activator" src="https://avatars1.githubusercontent.com/u/26583843?s=460&v=4">
	</div>
	<div class="card-content activator" style="cursor:pointer">
		<span class="card-title grey-text text-darken-4">
			Matheus de Mello Vieira
			<i class="fa fa-git right"></i>
		</span>
	</div>
	<div class="card-reveal">
		<span class="card-title grey-text text-darken-4">
			Matheus de Mello Vieira
			<i class="material-icons right">close</i>
		</span>
		<p>
			Aluno do curso de Git & GitHub.
		</p>
		<p class="center">
			<a href="https://github.com/Matheus-de-Mello-Vieira" class="grey lighten-2 black-text waves-effect waves-light btn">
				<i class="fa fa-github-alt left"></i>
				GitHub
			</a>
			<br><br>
			<i class="fa fa-windows" style="font-size:90pt"></i>
		</p>

	</div>
</div>