<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars2.githubusercontent.com/u/22757869?s=400&u=7b2555c364c72ee236770ec84c5d7d2fa5eab3ad&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Moises Fausto</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Moises Fausto<i class="material-icons right">close</i></span>

      <p>
        Finalizando mais um curso!!! :D
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a target="_blank" href="https://github.com/MoisesFSilva" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github left"></i>GitHub Profile</a>
        <br><br>  
        <a target="_blank" href="https://www.facebook.com/moises.kdean" class="indigo lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-facebook left"></i>Facebook Profile</a>
        <br><br>
      </p>

    </div>
  </div>
  