<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="https://avatars3.githubusercontent.com/u/24434214?s=400&u=4c95da0cdc0fd244e83b5dbc26c8c179b66e98ca&v=4">
  </div>
  <div class="card-content activator" style="cursor:pointer">
    <span class="card-title grey-text text-darken-4">Natália Oliveira</span>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Natália Oliveira<i class="material-icons right">close</i></span>
    <p>Aluna do curso de Git e estudante de direito (rsrs).</p>
    <p class="center">
      <a href="https://github.com/nfo94" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
      <br><br>
      <a href="https://www.linkedin.com/in/nataliaferreiraoliveira/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square left" aria-hidden="true"></i> Linkedin Profile</a>
    </p>
  </div>
</div>