<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars2.githubusercontent.com/u/37668473?s=400&u=ffbbc448dfa7c12483c999b4af990d63f29c3221&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Natal</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Natal<i class="material-icons right">close</i></span>

      <p>
        Jovem, bonito e programador!
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/NatalNW" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
      </p>

    </div>
  </div>