<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars0.githubusercontent.com/u/8320051?v=4&s=400">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Adriano Oselame<i class="fa fa-git right"></i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Adriano Oselame<i class="material-icons right">close</i></span>
      <p>
      É nois
      </p>
      <p class="center">
        <a href="https://github.com/oselame" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left">
          </i>GitHub Profile</a>
        <br><br>
        <i class="fa fa-linux" style="font-size:100pt"></i>
      </p>
    </div>
  </div>
