<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
        <!-- Card Image -->
        <img class="activator" src="https://avatars0.githubusercontent.com/u/44269021?s=400&u=2d39fe90ba0c2d7c881cec1fc642321bbb489cae&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
        <!-- Card Title -->
        <span class="card-title deep-purple-text">Pedro Paulo Nevado</span>
    </div>
    <div class="card-reveal">
        <!-- Card Reveal Content -->
        <span class="card-title deep-purple-text text-darken-4">Nevado<i class="material-icons right">close</i></span>

        <p>
           Desenvolvedor Backend
        </p>

        <p class="center">
            <!-- Sample Button -->
            
            <a href="https://github.com/NevadoCientista" 
                class="purple darken-3 waves-light btn"><i class="fa fa-github-square"></i></a><br><br>

            <a href="https://www.linkedin.com/in/pedro-paulo-andrade-576b2616b/"
                class="blue darken-2 waves-effect waves-light btn"><i class="fa fa-linkedin"></i></a><br><br>

            <a href="https://twitter.com/NevadoCientista"
                class="blue lighten-1 waves-light btn"><i class="fa fa-twitter-square"></i></a><br><br>

            <a href="https://stackoverflow.com/users/13637384/nevado"
                class="orange darken-4 waves-light btn"><i class="fa fa-stack-overflow"></i></a><br><br>
                
        </p>

    </div>
</div>