<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://img.itch.zone/aW1hZ2UvNzYxNjI5LzQyNTk2MTgucG5n/original/kHKovN.png">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Philipe Go.<i class="fa fa-github-alt left"></i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Philipe Go.<i class="material-icons right">close</i></span>
      <p>
        Video Game Developer and Git Student
      </p>
      <p class="center">
        <a href="https://github.com/philipe-go" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
        <img src="https://yt3.ggpht.com/-3BKTe8YFlbA/AAAAAAAAAAI/AAAAAAAAAAA/ad0jqQ4IkGE/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" height="50%" width="50%" style="font-size:100pt"></i>
      </p>
    </div>
  </div>