<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars1.githubusercontent.com/u/39861526?s=400&u=307aad4ea7e493cc5cb9fb3eb220f5a4932e0858&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">rafaelmm16</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">rafaelmm16<i class="material-icons right">close</i></span>

      <p>
        Estudante de Ciência da Computação
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/rafaelmm16" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>Perfil do Github</a>
        <br><br>
      </p>

    </div>
  </div>