<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars2.githubusercontent.com/u/24736618?s=460&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Rafael Barcellos</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Rafael Barcellos<i class="material-icons right">close</i></span>

      <p>
        É nozes!
      </p>

      </p>
      <p class="center">
        <a href="https://github.com/rafaelbarcellos1983" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left">
          </i>GitHub Profile</a>
      </p>

    </div>
  </div>