<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars2.githubusercontent.com/u/26783058?s=400&u=96228f90504939f8908340ce2ec20fbaa096bdc2&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Rafael Ismayle</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Rafael Ismayle<i class="material-icons right">close</i></span>
      <p>
        Aluno do curso de GIT
      </p>
      <p class="center">
        <a class="orange-text text-darken-2" href="https://github.com/RafaelIsmayle">Profile GitHub</a><br><br>
      </p>
    </div>
  </div>
