<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://avatars0.githubusercontent.com/u/34651129?s=460&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
        <span class="card-title grey-text text-darken-4">Raphael Trj <i class="fa fa-angellist"></i>
            <i class="fa fa-terminal"></i></span>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Raphael Trj<i class="material-icons right">close</i></span>

        <p>
            Aluno do curso de git e futuro computer engineer
        </p>

        <p class="center">
            <a href="https://github.com/raphtrajano" target="_blank"
                class="green light-4 waves-effect waves-light btn"><i class="fa fa-github left"></i>GitHub profile</a>
            <br><br>
            <i class="fa fa-linux" style="font-size:80pt"></i>
        </p>

    </div>
</div>