<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://media-exp1.licdn.com/dms/image/C4D03AQHgNrl-i5GSfg/profile-displayphoto-shrink_800_800/0/1629757707455?e=1656547200&v=beta&t=UF0unwB8axD_COoBxWAFPHCYnZmA7wbuMaQnrNd5IXg">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Raphael Marinho</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Raphael Marinho<i class="material-icons right"></i></span>

      <p>
        Estudante de Desenvolvimento de Sistemas e aluno do curso de Git
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://www.linkedin.com/in/raphaelmarinhoo/" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>Linkedin</a>
        <br><br>
        <a href="https://github.com/raphaelmarinhoo" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>GitHub Page</a>
        <br><br>
      </p>

    </div>
  </div>