<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars2.githubusercontent.com/u/41961426?s=460&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title blue-text text-darken-2">Reily Cleiane<i class="purple-text text-accent-1 fa fa-code right"></i><br>
</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title purple-text text-accent-1">Reily Cleiane<i class="material-icons right">close</i></span>

      <p class="blue-text text-darken-2">
		Futura excelente programadora!
		<i class="purple-text text-accent-1 fa fa-code right" style="font-size:20pt"></i>
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/reily-cleiane" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
        <a href="https://www.linkedin.com/in/cleianebondade/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
		<br>		
	  </p>
	  
	  <p class="center">
		<a href="https://twitter.com/CleianeBondade" class="blue darken-1 white-text waves-effect waves-light btn"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter Profile</a>			
	  </p>

    </div>
  </div>