<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars0.githubusercontent.com/u/16021155?s=400&u=1308cb6ff6329ab1c1784569656b23687e81abb9&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4"> Renato Ramos </span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Renato Ramos<i class="material-icons right">close</i></span>
      <p>
        Software Developer
      </p>
  
      <p class="center">
        <a class="black-text text-darken-2" href="https://github.com/renatosramos"><class="white lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt"></i> GitHub Profile</a><br><br>
        <a class="blue-text text-darken-2" href="https://www.linkedin.com/in/renatosramos/"><class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
        </p>
    </div>
  </div>