<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      
      <img class="activator" src="https://avatars.githubusercontent.com/figurantpp">
    </div>
    <div class="card-content activator pink lighten-5" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Renan Ribeiro</span>
      
      <div class="center-align">
        <i class="fa fa-github-alt"></i>
      </div>
    </div>
    <div class="card-reveal">
      
      <span class="card-title grey-text text-darken-4">
        Renan Ribeiro
        <i class="material-icons right">close</i>
      </span>

      <p>
        Estudante de Desenvolvimento de sistemas.
        <br>
        Adoro estudar o código fontes de maravilhas computacionais
        <i> (quando a licensa do software me permite). </i>
      </p>

      <p class="center">
        
        <a href="https://github.com/figurantpp" class="purple darken-4 waves-effect waves-light btn">
          <i class="fa fa-github-alt center"></i>
        </a>
        <br><br>
        
        <i class="fa fa-linux" style="font-size:80pt"></i>
      </p>

    </div>
  </div>
