<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars0.githubusercontent.com/u/2482654?v=4">
  </div>

  <div class="card-content activator" style="cursor:pointer">
    <span class="card-title grey-text text-darken-4">Ricardo Ianelli</span>
  </div>

  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Ricardo Ianelli<i class="material-icons right">close</i></span>
    <p>Desenvolvedor e professor de Física</p>
    <p class="center">
      <a href="https://github.com/ricardoianelli" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub</a>
      <br><br>
      <a href="https://www.linkedin.com/in/ricardoianelli/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square left"></i>LinkedIn</a>
    </p>
  </div>
</div>