<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://evernote.com/evernote/en/community/profiles/easset_upload_file67592_10484_e.jpg">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Roberto Gomes<i class="fa fa-git right"></i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Roberto Gomes - ECC <i class="material-icons right">close</i></span>
      <p>
      Evernote Certified Consultant
      </p>
      <p class="center">
        <a href="https://evernote.com/intl/pt-br/certified-consultants" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
        <a href="https://br.linkedin.com/pub/roberto-gomes/11/820/532" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
        <br><br>
        <i class="fa fa-linux" style="font-size:100pt"></i>
      </p>
    </div>
  </div>
© 2018 Git
