<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars1.githubusercontent.com/u/66490365?s=460&u=e38e18fe3c825030866960859fe8655d3924387f&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Roberta Silvano</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Roberta Silvano<i class="material-icons right">close</i></span>

      <p>
        Graduanda de Engenharia de Computação pela UFSC Campus Araranguá e Cheerleader da @matilhacheer. ;)
      </p>

      <p class="center">
        <a href="https://github.com/robertasilvano" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
        <a href="https://www.linkedin.com/in/robertasilvano/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
        <br><br>
        <i class="fa fa-rainbow" style="font-size:100pt"></i>
      </p>
    </div>
  </div>