<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars3.githubusercontent.com/u/55353219?s=460&u=2cc8be93c625f61c0f99934ec04a61cbf380a8ae&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Rodolfo Amancio</span>
    </div>
    <div class="card-reveal">	
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Rodolfo Amancio<i class="material-icons right">close</i></span>

      <p>
        Engenheiro químico, sempre aprendendo.
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/rodolfoamancio" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>Github profile</a>
        <br><br>
        <a href="https://www.linkedin.com/in/rodolfo-amancio-95633b102/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square"></i>Linkedin profile</a>
        <br><br>
        <a href="https://twitter.com/RodolfoAmancio" class="blue darken-1 white-text waves-effect waves-light btn"><i class="fa fa-twitter"></i>Twitter profile</a>
        <br><br>
<!--         Colors from:<br>
        <a class="orange-text text-darken-2" href="http://materializecss.com/color.html">http://materializecss.com/color.html</a><br><br>
        Icons from:<br>
        <a class="orange-text text-darken-2" href="http://fortawesome.github.io/Font-Awesome/icons/">http://fortawesome.github.io/Font-Awesome/icons/</a><br>
        <i class="fa fa-music" style="font-size:50pt"></i> -->
      </p>

    </div>
  </div>