<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars0.githubusercontent.com/u/13001726?s=460&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Rodrigo Moretto<i class="fa fa-github right"></i></span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Rodrigo Moretto<i class="material-icons right">close</i></span>

      <p>
        Estagiário Mobile da Fulltime Gestora de Dados
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/rodrigomoretto" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
      </p>

    </div>
  </div>