<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars.githubusercontent.com/u/63121813?v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Ronaldo Ramos</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Ronaldo Ramos<i class="material-icons right">close</i></span>

      <p>
        Data Scientist e aluno do curso de Git e Git Hub
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/Ron-69" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>Button</a>
        <br><br>
        <a href="https://www.linkedin.com/in/ronaldo-ros%C3%A1rio-ramos-98b2421b0/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
        <br><br>
        <i class="fa fa-music" style="font-size:50pt"></i>
      </p>

    </div>
  </div>