<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars0.githubusercontent.com/u/50874433?s=400&u=b3800d1367b68bc7872ab470fece8c5e91572402&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">
        Ronaldo Silva
        <i class="fa fa-github right"></i>
      </span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">
        Ronaldo Silva
        <i class="fa fa-coffee"></i>
      </span>

      <p class="center">
        <div>
          <p>Programador C# e aluno do curso de git</p>
        </div>
        <div>
          <a href="https://github.com/Ronaldo1986" target="_blank" style="margin-bottom: 10px;" class="grey darken-2 waves-effect waves-light btn"><i class="fa fa-github left" aria-hidden="true"></i> GitHub Profile</a>
        </div>
        <div>
          <a href="https://www.linkedin.com/in/ronaldo-silva-a3868869/" style="margin-bottom: 10px;" target="_blank" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
        </div>
        <div class="center">
          <i class="fa fa-windows" style="font-size:50pt"></i>
        </div>
      </p>

    </div>
  </div>