  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://media-exp1.licdn.com/dms/image/C4E03AQHonRctpx0Tzw/profile-displayphoto-shrink_200_200/0?e=1605139200&v=beta&t=E_Oz3HhmsVBBMqVx8NKSmNEUUwJp923sLpHE9s0OA78">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Samir Cauduro Priebe <i class="fa fa-spin fa-star right" style="color:#000" aria-hidden="true"></i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Samir C. Priebe<i class="material-icons right">close</i></span>
      <p>
          DBA SQL Server 2014/16, <br>Desenvolvedor C#, VB6 e PHP <br>Estudante de ADS
      </p>
      <p class="center">
        <a href="https://github.com/sampriebe/" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GITHUB PROFILE</a>
        <br/><br/>
        <a href="https://www.linkedin.com/in/sampriebe/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
        <br/><br/>
        <i class="fa fa-linux" style="font-size:100pt"></i>
      </p>
    </div>
  </div>
