<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars2.githubusercontent.com/u/42000522?s=400&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Samuel Soares<i class="fa fa-coffee right"></i></span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Samuel Soares<i class="material-icons right">close</i></span>

      <p>
        Aluno do curso de Git e Github,
        estudante e entusiasta de Tecnologia.B]
      </p>

      <p class="center">    
        <br><br>
        <a href="https://github.com/getsam" target="_blank" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>Github</a><br><br>
        <br><br>
        <a href="https://www.linkedin.com/in/samuelssoares/" target="_blank" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i>Linkedln</a><br>
        <br><br>
        <a target="_blank" href="https://www.facebook.com/samuel.soares.2312" class="indigo lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-facebook left"></i>Facebook Profile</a>
      </p>

    </div>
  </div>