<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <!-- Card Image -->
    <img class="activator" src="https://avatars.githubusercontent.com/u/75336824?s=400&u=e8a3fb3aa856515af324dfd68d632dbb5c27cd32&v=4">
  </div>
  <div class="card-content activator" style="cursor:pointer">
    <!-- Card Title -->
    <span class="card-title grey-text text-darken-4">Sebastião Marcos</span>
  </div>
  <div class="card-reveal">
    <!-- Card Reveal Content -->
    <span class="card-title grey-text text-darken-4">Sebastião Marcos<i class="material-icons right">close</i></span>

    <p>
      Aluno do curso de Git e GitHub
    </p>

    <p class="center">
      <!-- Sample Button -->
      <a href="https://github.com/SMarcosM" target="_blank">
        <img height="30" width="80" alt="GitHub" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg" />
      </a>
      <br/>
      <a href="https://discord.gg/ZwEbtcgSfR" target="_blank">
        <img height="30" width="80" alt="Discord" src="https://img.shields.io/badge/Discord-7289DA?style=for-the-badge&logo=discord&logoColor=white" target="_blank">
      </a><br/>
      <a href = "mailto:sebastiaomarcos49@gmail.com">
        <img height="30" width="80" alt="Gmail" src="https://img.shields.io/badge/-Gmail-%23333?style=for-the-badge&logo=gmail&logoColor=white" target="_blank">
      </a><br />
      <a href="https://www.linkedin.com/in/sebasti%C3%A3o-marcos-mendes-3156241b6" target="_blank">
        <img height="30" width="80" alt="Linkedin" src="https://img.shields.io/badge/-LinkedIn-%230077B5?style=for-the-badge&logo=linkedin&logoColor=white" target="_blank">
      </a><br /> 
    </p>

  </div>
</div>