<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="
      https://avatars3.githubusercontent.com/u/66930143?s=460&u=9a46318c1563414a627c432d89b8ae53bf359430&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Shyoutarou <i class="fa fa-git right"></i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Shyoutarou<i class="material-icons right">close</i></span>
      <p>
        Aluno do Curso de Git
      </p>
      <p class="center">
        <a href="https://github.com/shyoutarou" class="yellow lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github left"></i>GitHub Profile</a>
        <br><br>
        <br><br>
        <i class="fa fa-angellist" style="font-size:90pt"></i>
      </p>
    </div>
  </div>
