<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars.githubusercontent.com/u/38190671?v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Victor Souza</span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Victor Souza<i class="material-icons right">close</i></span>
      <p>
        Mech Engineer learning about the dark side of programming.
      </p>
      <p class="center">
        <a href="#" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>Button</a>
        <br><br>
        Colors from:<br>
        <a class="orange-text text-darken-2" href="https://github.com/viccsouza">GitHub Profile</a><br><br>
        Icons from:<br>
        <a class="orange-text text-darken-2" href="https://www.linkedin.com/in/viccsouza">LinkedIn Profile/</a><br>
        <i class="fa fa-music" style="font-size:50pt"></i>
      </p>

    </div>
  </div>