<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="https://avatars3.githubusercontent.com/u/49352785?s=460&u=fcced9885ced69cbe77d9a1503b987992192a766&v=4">
  </div>
  <div class="card-content activator" style="cursor:pointer">
    <span class="card-title grey-text text-darken-4">Luiz Eduardo<i class="fa fa-github right"></i></span>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Luiz Eduardo<i class="material-icons right">close</i></span>
    <p>
      Estudante de Engenharia de Software na PUCRS, apaixonado por programação, tecnologia, minimalismo, café, design, UX, café, marketing e café! 
    </p>
    <p class="center">
      <a href="https://github.com/luizeduardomr" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
      <br><br>
      <a href="https://www.linkedin.com/in/luiz-eduardo-mello-dos-reis-86422a188/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
      <br><br>
      <i class="fa fa-coffee" style="font-size:100pt"></i>
    </p>

  </div>
</div>
