<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars.githubusercontent.com/u/106785518?v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Thainá Melo<i class="fa fa-flask right"></i></span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Thainá Melo<i class="material-icons right">close</i></span>

      <p>
        Artista têxtil, pesquisadora. Aluna do curso de GIT.
      </p>

      <p class="center">
        <br><br>
            <a target="_blank" href="https://github.com/melothain" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github left"></i>GitHub Profile</a>
            <br><br>
            <a target="_blank" href="https://instagram.com/sinistrices" class="pink lighten-1 black-text waves-effect waves-light btn"><i class="fa fa-instagram left"></i>Instagram Profile</a>
            <br><br>
            <a target="_blank" href="https://www.linkedin.com/in/thaina-melo" class="blue darken-2 black-text waves-effect waves-light btn"><i class="fa fa-linkedin left"></i>LinkedIn Profile</a>
            <br><br>
      </p>

    </div>
  </div>
