<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="http://www.civimi.com/beta/civimi/img/basic-img/user.jpg">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Thalyta</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Thalyta<i class="material-icons right">close</i></span>

      <p>
        Student
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="#" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>Follow me</a>
        <br><br>
        My portfolio:<br>
        <a class="orange-text text-darken-2" href="https://github.com/thalytacf">https://github.com/thalytacf</a><br>
        <i class="fab fa-github-alt"style="font-size:50pt"></i>
      </p>

    </div>
  </div>