<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="https://avatars.githubusercontent.com/u/8001737?v=4">
  </div>
  <div class="card-content activator" style="cursor:pointer">
    <span class="card-title grey-text text-darken-4">Tiago Ribeiro Santos</span>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Tiago Ribeiro Santos<i class="material-icons right">close</i></span>
    <p>
      Android | Software Engineer
    </p>
    <p class="center">
      <a href="https://github.com/tiglinux" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
      <br><br>
      <a href="https://www.linkedin.com/in/tiagoribeirosantos/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square left" aria-hidden="true"></i>Linkedin Profile</a>
      <br><br>
    </p>
  </div>
</div>
