<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://github.com/TiagoSVO.png">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Tiago da Silva Valeriano de Oliveira</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">TiagoSVO<i class="material-icons right">close</i></span>

      <p>
        Analista de TI - Aluno do Curso de GIT
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/TiagoSVO" class="teal darken-4 waves-effect waves-light btn"><i class="fa fa-github"></i> Github Profile</a>
        <br><br>
        Colors from:<br>
        <a class="orange-text text-darken-2" href="http://materializecss.com/color.html">http://materializecss.com/color.html</a><br><br>
        Icons from:<br>
        <a class="orange-text text-darken-2" href="http://fortawesome.github.io/Font-Awesome/icons/">http://fortawesome.github.io/Font-Awesome/icons/</a><br>
        <i class="fa fa-gamepad" style="font-size:50pt"></i>
      </p>

    </div>
</div>
