<div class="card hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="https://avatars2.githubusercontent.com/u/20423500?s=460&v=4">
  </div>
  <div class="card-content activator" style="cursor:pointer">
    <span class="card-title grey-text text-darken-4">Tibet Teixeira<i class="fa fa-code right"></i></span>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Tibet Teixeira<i class="material-icons right">close</i></span>
    <p>Aluno do Curso de Git</p>
    <p>Cursando Ciência da Computação</p>
    <p class="center">

        <a href="https://github.com/tibet-teixeira/" class="col s12 grey lighten-2 black-text waves-effect waves-light btn">
          <i class="fa fa-github"></i>
        </a>
        <br><br>
        <a href="https://www.instagram.com/tibet.teixeira/" class="col s12 pink darken-2 white-text waves-effect waves-light btn">
          <i class="fa fa-instagram"></i>
        </a>
        <br><br>
        <i class="fa fa-linux" style="font-size:100pt"></i>
      </p> 
  </div>
</div>