<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars3.githubusercontent.com/u/21015148?v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Vahid Nikoofard</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Vahid Nikoofard <i class="material-icons right" close></i></span>

      <p>
        A theoretical physicist interested in programming
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="#" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>Button</a>
        <br><br>
        Google Scholar:<br>
        <a class="orange-text text-darken-2" href="https://scholar.google.com/citations?user=EAutYDYAAAAJ&hl=en">https://scholar.google.com/citations?user=EAutYDYAAAAJ&hl=en</a><br><br>
        GitHub:<br>
        <a class="orange-text text-darken-2" href="https://github.com/vnikoofard">https://github.com/vnikoofard</a><br>
        <i class="fa fa-music" style="font-size:50pt"></i>
      </p>

    </div>
  </div>
