<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars.githubusercontent.com/u/49527666?v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">
        <i class="fa fa-headphones"  style="margin-right: 3px; font-size:15pt" aria-hidden="true"></i>
           Victor Silva
      </span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Victor Silva<i class="material-icons right">close</i></span>
  
      <p>
        Aluno do Curso de Git. <i class="fa fa-github" style="margin-left: 5px; font-size:10pt" aria-hidden="true"></i>
      </p>
  
      <p class="center" style="font-size: smaller;" >
        <a href="https://github.com/victorluansilva" target="_blank"
          class="grey lighten-2 black-text waves-effect waves-light btn">
          GitHub
          <i class="fa fa-github-alt" style="font-size:15pt"></i>
        </a>
        <br><br>
        <a href="https://www.linkedin.com/in/victor-luan-silva/" target="_blank"
          class="blue lighten-3 black-text waves-effect waves-light btn">
          <i class="fa fa-linkedin" style="font-size:15pt"></i>
          LinkedIn
        </a>
        <br><br>
        <i class="fa fa-terminal" style="font-size:25pt" aria-hidden="true"></i>
        <i class="fa fa-linux" style="font-size:25pt" aria-hidden="true"></i>
        <br><br>
        <a href="https://victorluansilva.com/" target="_blank"
          class="transparent black-text waves-effect waves-light btn">
          <i class="fa fa-user" style="font-size:15pt"></i>
          About me
        </a>
      </p>
  
    </div>
  </div>