<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars1.githubusercontent.com/u/8482280?s=460&u=857f8b1ea0964a9e08e04e5ccb5dadfb51753de8&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Victor S.</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Victor S.<i class="material-icons right">close</i></span>

      <p>
        Aluno do curso de Git!
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/victorsimao" class="indigo darken-3 waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
      <br><br>
        <i class="fa fa-dragon" style="font-size:50pt"></i>
      </p>

    </div>
  </div>