<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars2.githubusercontent.com/u/5316510?s=400&u=7af8e1084eebe01e70ebf94a9d010d50374d7922&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Vinicius Tesoni</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Vinicius Tesoni<i class="material-icons right">close</i></span>

      <p></p>

      <p class="center">
        <!-- Sample Button -->
        <a href="http://github.com/viniciustesoni/" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>GITHUB PROFILE</a>
        <br><br>
        <i class="fa fa-hand-peace" style="font-size:50pt"></i>
      </p>

    </div>
  </div>