<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars0.githubusercontent.com/u/37315305?s=400&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Vinicius Nunes <i class="fa fa-code-fork" aria-hidden="true"></i>
</span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Vinicius Nunes <i class="material-icons right"></i></span>
      <p>
      Desenvolvedor pl/sql, Python/Django. Cursando pós graduação em Data Science.
      </p>
      <p class="center">
        <a href="https://github.com/ViniciusNunes90" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
        <a href="https://www.linkedin.com/in/marcus-vinicius-bueno-nunes-a2934486/" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
        <br><br>
        <i class="fa fa-linux" style="font-size:100pt"></i>
      </p>
    </div>
  </div>
