<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars0.githubusercontent.com/u/8387623?s=300">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Vinicius Paschoal</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Vinicius Paschoal<i class="material-icons right">close</i></span>

      <p>
        Aluno do curso de Git.
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/vinipaschoal" class="red accent-4 white-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
        <u>Vamos SÃO PAULO!!</u>
        <br><br>
        <img src="http://www.spfcpedia.com.br/logos/vetores/sao-paulo-fc_2006.png" width="110" height="130">
      </p>

    </div>
  </div>