<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
        <!-- Card Image -->
        <img class="activator" src="https://avatars0.githubusercontent.com/u/48649418?s=460&u=9632fed6891bfd8a8bac6c0d295921c759f12908&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
        <!-- Card Title -->
        <span class="card-title grey-text text-darken-4">Viny Vidal</span>
    </div>
    <div class="card-reveal">
        <!-- Card Reveal Content -->
        <span class="card-title grey-text text-darken-4">Viny Vidal<i class="material-icons right">close</i></span>

        <p>
            Desenvolvedor Web Back-End
        </p>

        <p class="center">
            <!-- GitHub Button -->
            <a href="https://github.com/VinyVidal" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>GitHub Profile</a>
        </p>

    </div>
</div>