<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars2.githubusercontent.com/u/71832410?s=460&u=b2d1f952c5244ccdd1ad6e60177b28c9a0eecf17&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Vitor Oliveira</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Vitor Oliveira<i class="material-icons right">close</i></span>

      <p>
        Estudante de Sistemas de Informação e estagiário em homologação e testes de Software.
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/vitor-oliver2" class="yellow darken-4 waves-effect waves-light btn"><i class="fa fa-cloud left"></i>Github Profile</a>
        <br><br>
        <!--Colors from:<br>
        <a class="orange-text text-darken-2" href="http://materializecss.com/color.html">http://materializecss.com/color.html</a><br><br>
        Icons from:<br>
        <a class="orange-text text-darken-2" href="http://fortawesome.github.io/Font-Awesome/icons/">http://fortawesome.github.io/Font-Awesome/icons/</a><br>-->
        <i class="fa fa-music" style="font-size:50pt"></i>
      </p>

    </div>
  </div>
