<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars0.githubusercontent.com/u/18615185?s=460&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">William R.M</span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">William R.M<i class="material-icons right">close</i></span>
      <p>
        Aluno do Curso de Git
      </p>
      <p class="center">
        <i class="fa fa-linux" style="font-size:100pt"></i>
      </p>
    </div>
  </div>