<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars2.githubusercontent.com/u/26575918?s=400&u=def2e2fb343c202f5af6f9438a86bb71cd7423e3&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Willian Xavier <i class="fa fa-git right"></i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Willian Xavier<i class="material-icons right">close</i></span>
      <p>
      Aluno do Curso de Git
      </p>
      <p>
          Cursando Análise e Desenvolvimente de Sistemas
      </p>
      <p class="center">
        <a href="https://github.com/willianxaviercs" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
        <br><br>
        <i class="fa fa-linux" style="font-size:100pt"></i>
      </p>
    </div>
  </div>
