<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars0.githubusercontent.com/u/56853103?s=400&u=67d9020753aa328a35dbec603590ff2632e5476c&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">💻Yann Ap. da Silveira💻</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Yannops<i class="material-icons right">close</i></span>

      <p>
        Aluno do curso de Git, estudante na área &nbsp; de Análise e Desenvolvimento de Sistemas
      </p>
      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/Yannops" target="_blank" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>github</a>
        <br/>
        <a href="https://www.linkedin.com/in/yann-silveira" target="_blank" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square left"></i>linkedin</a>
      </p>

    </div>
  </div>